.search-form {
  width: 300px;
  margin: 0 auto;
}

.input-group {
  display: flex;
  flex-wrap: nowrap;
}
.form-outline {
  flex-grow: 1;
}

@media screen and (max-width: 400px) {
  .search-form {
    width: 250px;
  }
}
